.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
emerging/.quarto/
emerging/_freeze/
emerging/_report/
methods_review/_site/
methods_review/.quarto/
*.css
*.csv
*.DAT
*.doc*
*.html
*.ics
*.js
*.pdf
*.png
*.tmp
*.xls
*.xlsx
*.zip